#!/bin/bash
#检查mysql master 脚本（使用uuid判断是否为master节点）
priuuid=`mysql -p{{MYSQL_PASSWORD}} -e "SELECT * FROM performance_schema.replication_group_members WHERE MEMBER_ID = (SELECT VARIABLE_VALUE FROM performance_schema.global_status WHERE VARIABLE_NAME= 'group_replication_primary_member')" |awk 'NR==2{print}'|awk -F" " '{print $2}'`
uuid=`mysql -p{{MYSQL_PASSWORD}} -e "select @@global.server_uuid" | awk 'NR==2{print}'`
if [ "$priuuid" == "$uuid" ]; then
  # mysql主节点 返回0 权重增加
  exit 0
else
  # mysql从节点 返回1 权重不变
  exit 1
fi
